.photo {
  padding: 4px 8px; /* Réduire le padding */
  font-size: 12px;  /* Réduire la taille de la police */
  width: auto; /* Ajuster la largeur automatiquement */
  height: auto; /* Ajuster la hauteur automatiquement */
}

.photo input[type="file"] {
  display: none; /* Masquer le champ de fichier réel */
}

.photo label {
  background-color: #007bff; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte */
  padding: 4px 8px; /* Réduire le padding */
  font-size: 12px; /* Réduire la taille de la police */
  border-radius: 4px; /* Arrondir les bords */
  cursor: pointer; /* Ajouter un curseur pointer */
}

.photo label:hover {
  background-color: #0056b3; /* Couleur de fond au survol */
}

